.loaderArea {
	background: linear-gradient(90deg, rgb(210, 211, 211) 10%, rgb(209, 231, 206) 90%);
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	z-index: 100;
  }

  .loader {
	height: 40px;
	width: 40px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	top: 50%;
	margin-top: -20px;
	border-radius: 40px;
	border: 2px solid #eae4ea;	
	animation: loader 4s infinite linear;
  }

  @keyframes loader
  {
	0%
	{		
		transform: rotate(0deg);
	}
	20%{
		border-bottom: 2px solid #8c23ec;
	}
	40%
	{
		border-left: 2px solid #5118ec;
	}
	60%
	{
		border-top: 2px solid #18ec4d;
	}
	80%{
		border-right: 2px solid #e8ec18;
	}
	100%
	{
		transform: rotate(360deg); 
	}
  }
   