.menu-wrap {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 280px;
    margin-left: -280px;
    font-size: 1em;
    font-weight: 700;
    overflow: auto;
    transition: .25s;
    z-index: 10;
}

.menu-show {
    margin-left: 0;
    box-shadow: 4px 2px 15px 1px #B9ADAD;
}
.menu-ul{
  margin-top: 50px;
}