/* Доп Задание сделать тёмную тему */
body{
    background-color: white;
    color: black;
    transition: .5s;
}

a{
    color: black;
    transition: .5s;
}

header>nav>ul>li{
    border-bottom:  1px solid black;
    transition: .5s;
}
hr{
    color: black;
    transition: .5s;
}

.menu-wrap {
    background-color: #545864;
    color: white;
}
.menu-wrap a{
    color: white;
}
.menu-wrap a:hover{
    color: black;
}
.Section-Smallbox:hover{
    transition: .5s;    
    -webkit-box-shadow: 10px 10px 19px -1px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 19px -1px rgba(0,0,0,1);
    box-shadow: 10px 10px 19px -1px rgba(0,0,0,1);
}

@media (max-width: 768px){
    .top-button{
        border-bottom: 1px solid black;
    }
}